.logo {
    width: 30px;
}

.navLeft {
    float: left;
}

.navRight {
    float: right;
}

.navbar {
    opacity: 80%;
}

.nav-item:hover {
    color: white;
}

.nav-item .active {
    color: white;
}

.dropdown-item:hover {
    color: #4b8dff;
}